/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.product-box h1 {
  font-size: 30px !important;
}
.salebanner {
  text-align: center;
}

@-moz-document url-prefix() {
  .gform_wrapper li.hidden_label input {
    margin-top: 0px !important;
  }
  .gform_wrapper li.hidden_label input {
    margin-top: 0px !important;
  }
}

.topBar .storename {
  margin-bottom: 0px !important;
  margin-top: 4px !important;
}
.topBar {
  display: flex;
}

.topBar > div:last-child {
  margin-left: 10px;
}

ul.social-icons li a {
  color: #000;
}

ul.social-icons li a:hover {
  color: #fa3959;
}

.footer-location .topBar {
  justify-content: flex-end;
  align-items: center;
}
.footer-location .topBar .storename .phone {
  text-align: left;
}
.footer-location .topBar > div {
  margin-left: 10px;
}

ul#menu-top-menu > li a {
  padding: 12px 5px;
}
li#field_18_2,
li#field_18_7 {
  padding-right: 0px !important;
}
.ginput_container_date input {
  margin-right: 0px !important;
  width: 100% !important;
}
.ginput_container_date input,
input.datepicker_with_icon.medium {
  width: 100% !important;
}
.ginput_container_date {
  position: relative;
}
.ginput_container_date img {
  position: absolute;
  top: 34px;
  right: 12px;
  z-index: 1;
}
.direction a {
  font-size: 16px !important;
  line-height: 16px !important;
  letter-spacing: 5px !important;
  text-transform: uppercase !important;
  border: 1px solid #3f4054 !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  width: 300px;
  padding-top: 20px !important;
  padding-right: 40px !important;
  padding-bottom: 20px !important;
  padding-left: 40px !important;
  background: #4b4c60 !important;
}
.gform_wrapper .gfield_time_hour input,
.gform_wrapper .gfield_time_minute input {
  width: calc(4rem + 8px) !important;
}
.gform_wrapper .gfield_time_hour {
  max-width: calc(5rem + 0.5rem) !important;
}
.gform_wrapper .gfield_time_hour,
.gform_wrapper .gfield_time_minute {
  max-width: 5rem !important;
}
.uabb-gf-style
  .gform_wrapper
  form
  .gform_body
  input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not(
    [type="button"]
  ):not([type="image"]):not([type="file"]) {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.gform_wrapper .gfield_time_ampm select {
  min-width: calc(7rem + 25px) !important;
}
.gform_wrapper .gfield_time_hour i {
  margin-top: -2px !important;
}
.facet_filters .facet-wrap > strong {
  padding-bottom: 3px;
  border-bottom: 2px solid #fa3959;
}
.facet_filters strong {
  font-size: 16px;
  color: #fa3959;
  display: block;
  margin: 0 0 10px;
}
.product-detail-layout-6 .product-colors ul li,
.product-detail-layout-6 .product-colors ul li.found {
  margin-right: 5px;
}
.direction a:hover {
  border: 1px solid #ee2d4d !important;
  background: #fa3959 !important;
}
.store-container .address p {
  margin: 0;
}
.searchModule {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 9;
  background: #fa3959;
  padding: 20px;
}
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type="checkbox"] {
  margin-top: 0px !important;
}
.searchIcon .ua-icon-icon-111-search2 {
  cursor: pointer;
}
.phone span:before {
  content: "\f095";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 5px !important;
  font-size: 16px;
  vertical-align: middle;
}
span.uabb-menu-toggle {
  display: inline-block !important;
  /*     color: #000; */
}
span.uabb-menu-toggle:before {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  z-index: 1;
  font-size: inherit;
  line-height: 0;
  font-weight: 900;
}
div.fl-module-uabb-advanced-menu
  .uabb-creative-menu
  .menu
  > li.current-menu-ancestor
  > .uabb-has-submenu-container
  > a
  span.menu-item-text
  .uabb-menu-toggle:before {
  color: #fa3959 !important;
}

/*Filter Select Design*/
.facetwp-selections ul:before {
  content: "Your Selection";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #fa3959;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #fa3959;
  padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label {
  font-size: 14px;
  font-weight: 700;
}

.facetwp-selections ul li .facetwp-selection-value {
  font-size: 14px;
}
.facetwp-selections ul {
  padding-left: 0px;
  margin-bottom: 20px;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #b53859;
  border-top: 1px solid #fff;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder > button.mgbutton {
  background-color: #fa3959 !important;
  color: #fff !important;
  border-radius: 0px !important;

  font-family: "Montserrat", sans-serif !important;
  font-weight: 600 !important;
  letter-spacing: 5 !important;
  text-transform: uppercase !important;
  box-shadow: none !important;
  border: none !important;
}
.moove-gdpr-button-holder > button.mgbutton:hover {
  background: #000000 !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border-color: #000000 !important;
}

#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon {
  background-color: #fa3959 !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  i:hover,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href] > u.change-settings-button {
  color: #fff !important;
  background-color: #000000 !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #000000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #fa3959 !important;
  color: #fff !important;
  border: 0px !important;
  border-radius: 0px !important;

  font-family: "Montserrat", sans-serif !important;
  font-weight: 600 !important;
  letter-spacing: 5 !important;
  text-transform: uppercase !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #000000 !important;
  color: #fff !important;
  border: 0px !important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #fa3959 !important;
}

.d-flex .gfield_checkbox li {
  display: flex;
}
.d-flex .gfield_checkbox li input {
  margin-right: 5px;
}

input.hasDatepicker {
  width: 95% !important;
}

.gform_wrapper .timeEstimate .gfield_time_hour i {
  display: none;
}
select#input_19_18,
select#input_19_18 option {
  color: #000;
}
.product-grid.btn-grey > h4 > span,
.product-grid.btn-grey .product-variations1 > h5 {
  font-size: 14px;
}
.gform_wrapper select option {
  color: #000;
}
.gform_wrapper li.gfield div.gfield_time_ampm select {
  width: 80px !important;
  text-align: left;
  max-width: none !important;
  height: auto !important;
  padding: 20px 0 !important;
  min-width: 50px !important;
}
.gform_legacy_markup_wrapper
  .ginput_complex
  .ginput_container_time
  input[type="text"] {
  width: 50px !important;
}
.store-opening-hrs-container .store-opening-hrs {
  padding-left: 0;
}
.store-opening-hrs-container .store-opening-hrs li {
  display: flex;
  justify-content: space-between;
  padding: 0 0 10px;
}

.fl-page {
  width: auto;
}
.salebanner {
  text-align: center;
}
@-moz-document url-prefix() {
  .gform_wrapper li.hidden_label input {
    margin-top: 0px !important;
  }
  .gform_wrapper li.hidden_label input {
    margin-top: 0px !important;
  }
}
.footermenu .menu-item a {
  color: #fbfbfb;
  font-family: Roboto;
  font-size: 12px;
  line-height: 23px;
}
.home-tab .fl-tabs-labels {
  background-color: #384e77;
}
.storename {
  list-style-type: none;
  padding-left: 0;
}

.fl-page-bar-text-2 .phone.retailer span {
  color: #fff;
}
.product-detail-layout-5 .product-variations {
  margin-top: 0px !important;
}

.container .row .product-detail-layout-6 .product-variations a {
  border: none !important;
  outline: none !important;
}
.container .row .product-detail-layout-6 .product-variations img {
  padding: 5px !important;
}

.container .row .product-detail-layout-6 .color-box {
  min-height: 50px;
}
.container .row .product-detail-layout-6 .color-box .color-boxs-inner {
  margin-bottom: 0px !important;
}
.product-detail-layout-6 .image-expander img {
  filter: drop-shadow(0px 0px 2px black);
}
.container .row .product-detail-layout-6 #product-images-holder > div {
  background-size: cover !important;
}

/*New PDP Button Color css */
.product-detail-layout-6 .dual-button a {
  background-color: transparent !important;
  color: #000 !important;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
}

.product-detail-layout-6 .dual-button a:hover {
  color: #fff !important;
  background-color: #4b4c60 !important;
  border-style: solid;
  border-width: 2px;
  border-color: #4b4c60;
}

.product-detail-layout-6 .button-wrapper > a {
  color: #000 !important;
  background-color: transparent !important;
  border-style: solid;
  border-width: 2px;
  border-color: #000 !important;
}

.product-detail-layout-6 .button-wrapper > a:hover {
  background-color: #4b4c60 !important;
  color: #fff !important;
  border-style: solid;
  border-width: 2px;
  border-color: #4b4c60 !important;
}

.gfield_captcha_input_container.math_medium input {
  width: auto !important;
}

.gform_wrapper select option {
  font-weight: bold;
}

.flooring-coupon-img img {
  width: 100%;
}
.flooring-coupon-img .fl-rich-text > p {
  display: none;
}
.gform_footer.top_label input {
  padding: 20px 40px;
  line-height: 16px;
  border-radius: 0;
  height: auto;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/*Roomvo button CSS*/
.RoomvoRows
  a.uabb-button.uabb-creative-button.uabb-creative-flat-btn.uabb-none-btn,
.RoomvoRows a.uabb-btn.uabb-btn-one {
  background: #fa3959 !important;
  border: 1px solid #fa3959 !important;
  border-radius: 0px !important;
  text-transform: uppercase !important;
  font-size: 16px !important;
  font-weight: 400;
}
.RoomvoRows .uabb-btn > span {
  font-size: 16px !important;
  text-transform: uppercase !important;
  color: #fff !important;
}

.RoomvoRows a.uabb-btn.uabb-btn-two {
  border-radius: 0px !important;
  font-weight: 400;
  border: 1px solid #fa3959 !important;
}
.RoomvoRows span.uabb-button-text.uabb-creative-button-text {
  color: #fff !important;
}
.RoomvoRows a.uabb-btn.uabb-btn-two span {
  color: #000 !important;
}
/*Roomvo button hover*/
.RoomvoRows
  a.uabb-button.uabb-creative-button.uabb-creative-flat-btn.uabb-none-btn:hover,
.RoomvoRows a.uabb-btn.uabb-btn-one:hover,
.RoomvoRows a.uabb-btn.uabb-btn-two:hover {
  background: #4b4c60 !important;
  border: 1px solid #4b4c60 !important;
}

.facetwp-selections ul:before, 
div#mm-product-list .product-list-container .facet_filters strong {
    border-bottom: 2px solid #fa3959 !important;
    color: #fa3959 !important;
}

.facet_wrap button,
.page-info .pagination_wrapper>div button, 
div#mm-product-list .facet_wrap button, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button,
div#mm-product-details .product-detail-layout-6 .button-wrapper a, 
.row.search-row .posts_search_result .product-item a.fl-button, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button {
    background: #fa3959!important;
    color: #fff!important;
    border: none;
    text-transform: uppercase!important;
	border-radius: 0px!important;
}

.facet_wrap button:hover,
.page-info .pagination_wrapper>div button:hover, 
div#mm-product-list .facet_wrap button:hover, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button:hover,
div#mm-product-details .product-detail-layout-6 .button-wrapper a:hover, 
.row.search-row .posts_search_result .product-item a.fl-button:hover, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button:hover {
    background: #4b4c60!important;
    color: #fff!important;
    border: none;
    text-transform: uppercase!important;
	border-radius: 0px!important;
}
.product-plp-grid > .product-row > .col-lg-4 > .fl-post-grid-post .product-grid.btn-grey>h4>span:first-child, 
.row.search-row .posts_search_result.post_list.product-grid.swatch h2, 
div#search-result-page .product-plp-grid .product-item .fl-post-grid-post .fl-post-grid-text h4>span:first-child{
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 14px !important;
    line-height: 1.2em;
    min-height: 34px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 1181px) {
  div#headermenu .uabb-creative-menu .menu li a {
    font-size: 13px;
    line-height: 1;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  div.fl-module-uabb-advanced-menu
    .uabb-creative-menu.uabb-menu-default
    .menu
    > li
    > .uabb-has-submenu-container
    > a {
    padding-left: 5px;
    padding-right: 5px;
  }
  ul#menu-copyright-bar-menu li a {
    padding: 14px 5px !important;
  }
  ul#menu-top-menu.fl-page-bar-nav > li > a {
    padding: 2px 5px !important;
  }
  .fl-page-bar-row.row .fl-page-bar-text-1 a {
    font-size: 10px !important;
  }
  div.fl-module-uabb-advanced-menu
    .uabb-creative-menu.uabb-menu-default
    .menu
    > li
    > .uabb-has-submenu-container
    > a {
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
  ul#menu-main-menu > li {
    margin: 0px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .product-detail-layout-6 .toggle-image-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (max-width: 992px) {
  .topBar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fl-page-bar-row .col-md-6.text-right {
    display: none;
  }
  .fl-page-bar-row .col-md-6.text-left {
    width: 100% !important;
    text-align: center;
  }
  header .uabb-photo-content .uabb-photo-img {
    width: 60% !important;
  }
  #responsive-menu-container #responsive-menu-search-box,
  #responsive-menu-container #responsive-menu-additional-content,
  #responsive-menu-container #responsive-menu-title {
    padding: 10px 5% !important;
  }

  .footer-location .topBar {
    justify-content: center;
  }
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0px !important;
  }
  .fl-page-bar-row.row .col-sm-8 {
    display: none !important;
  }
  .fl-page-bar-row.row .col-sm-4 {
    width: 100%;
    text-align: center;
  }
  .fl-slide-0 .fl-slide-bg-photo,
  .fl-slide-0 .fl-slide-foreground {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  .fl-slide-0 .fl-slide-foreground .fl-slide-photo-wrap {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .max-width-issue {
    max-width: 400px !important;
    margin: 0 auto !important;
  }
  .max-h-img img {
    max-height: 200px;
  }

  /* Slider height issue on mobile open */
  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 500px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 500px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 500px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 500px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 500px !important;
    max-height: 500px !important;
  }
  .fl-content-slider .fl-slide-bg-link {
    z-index: 2;
  }
  /* Slider height issue on mobile closed */

  /* Facet Filter CSS	- iPad */
  .facet_filters .close_bar {
    display: block;
  }
  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .facetwp-per-page-select {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .open_sidebar a {
    float: none !important;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }
  .facet_filters .close_bar .close {
    float: right;
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .facetwp-pager {
    float: none !important;
    margin-top: 10px;
  }
  /* Products List CSS - iPad */
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .product-row > div.col-md-3:nth-child(3n + 1) {
    clear: none !important;
  }
  #rmp-menu-wrap-1135156 .rmp-submenu .rmp-menu-item-link {
    text-transform: uppercase;
  }
  #rmp-menu-wrap-1135156 .rmp-submenu .rmp-menu-item-link {
    height: auto;
    line-height: 31px;
  }
}

@media only screen and (max-width: 768px) {
  .open_sidebar {
    text-transform: uppercase;
  }
  #rmp-menu-additional-content-1135156 {
    text-align: left;
  }
  #rmp-menu-additional-content-1135156 a {
    color: #fff;
  }

  .product-detail-layout-6 .imagesHolder #roomvo {
    width: 100% !important;
    padding-bottom: 0;
    left: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
  }
}

@media only screen and (max-width: 599px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 48%;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: none !important;
  }
}

@media only screen and (max-width: 500px) {
  .footer-location .topBar {
    flex-direction: column;
  }
  .footer-location .topBar > div {
    margin-top: 20px;
  }
  .footer-location .topBar {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  ul#menu-copyright-bar-menu {
    flex-direction: column;
  }
  ul#menu-copyright-bar-menu li a {
    margin: 5px 0;
    padding: 0;
  }
  .footer-location .topBar .storename .phone {
    text-align: center;
  }
  header .uabb-photo-content .uabb-photo-img {
    width: 80% !important;
  }
  button#responsive-menu-button {
    width: 40px !important;
    height: 40px !important;
    top: 60px !important;
  }
  .fl-page-bar {
    font-size: 9px !important;
  }
  .fl-page-bar-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-location .fl-rich-text p a {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100%;
    clear: both !important;
  }
  #rmp_menu_trigger-1135156 {
    top: 60px;
  }
}

@media only screen and (max-width: 330px) {
  button#responsive-menu-button {
    top: 54px !important;
  }
}

/* PLP Page Css iPad Air */
@media only screen and (max-width: 321px) {
  #rmp_menu_trigger-1135156 {
    top: 54px;
    right: 2%;
  }
}
